.header{
    background-color: rgb(135, 111, 111);
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10;
}

.button{
    margin-left: 50%;
}

.header h1{
    margin: 0
}