.header{
      margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
 
    background-color: rgb(135, 111, 111);
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10;
    border-radius: 6px;
   
}

.button{
    margin-left: 50%;
}

.header h1{
    margin: 0
}